.section-services, .section-portfolio, .section-contact{
	background-color:var(--color-white);
	text-align:center;
	padding-bottom:8rem;
}

.section-team, .section-testimonials{
	background-color:var(--color-black);
	text-align:center;
	padding-bottom:8rem;

}

.section-cta {
	background-color:var(--color-darkgrey-2);
	padding:3rem;
}
